{% extends "layout.html" %}

{% block content %}
<!doctype html>
<html>
    <head>
        <title>FAQ Page</title>
    </head>
    <body>
        <div style="width: 60vw; position: absolute; left: 50%; transform: translate(-50%, 0%); padding-top: 20px;">
        <h1>FAQ</h1>
        <h2>How do I create an account?</h2>
        <p>1. On the splash page, click “Create Account”.</p>
        <p>2. Enter a valid email address and a secure password.</p>
        <p>3. Enter your password again to confirm.</p>
        <p>4. Click “Create”.</p>
        
        <h2>How do I search for a specific stock?</h2>
        <p>1. Login, then from the home page, click on the "Market" icon in the top menu (looks like a graph).</p>
        <p>2. Click on "Search" to display the search screen.</p>
        <p>3. Type the name of the desired stock in the search bar. </p>
        
        <h2>How can I buy/save a stock from the top 100?</h2>
        <p>1. Login, then from the home page, click on the "Market" icon in the top menu (looks like a graph).</p>
        <p>2. Click "Top 100" to display the NASDAQ 100 Companies.</p>
        <p>3. In the desired stock, set the desired quantity of shares.</p>
        <p>4. Click "Buy" or "Save". If successful, the investment will appear in your portfolio on the "Home" page.</p>
        
        <h2>How can I deposit/withdraw funds?</h2>
        <p>1. Login, then go to the “Home” page.</p>
        <p>2. Under your balance tracker, enter the amount of funds you want to withdraw/deposit.</p>
        <p>3. Click “Increment Balance” to deposit. Click “Decrement Balance” to withdraw.</p>
        </div>

    </body>
</html>
{% endblock %}


