<!-- Content under "Filter" button in the Market page -->
{% block content %}
    <h1 class="filter-Title">Filter Stocks</h1>

    <!-- Displays filter options -->
    <div class="choice-container">
        <form method="POST">
            <button class="choice-button" formaction="{{ url_for('filter_stock.filter_stock', username=username, exchange='NASDAQ') }}">NASDAQ</button>
            <button class="choice-button" formaction="{{ url_for('filter_stock.filter_stock', username=username, exchange='NYSE') }}">NYSE</button>
            <button class="choice-button" formaction="{{ url_for('filter_stock.filter_stock', username=username, exchange='Any') }}">Any</button>
        </form>
    </div>

    <!-- Displays all matching stocks -->
    <div>
        {% for symbol, company in companies.items() %}
            <div class="stock-container">
                <div class="filter-stock">
                    <div id="symbol">{{ symbol }} </div>
                    <div class="about-stock">
                        <div id="company">{{ company[0] }}</div>
                        <div id="price">${{ company[1] }}</div>
                    </div>
                </div>
                <form class="stock-form" method="POST">
                    <input type="text" id="filter-amount" name="filter-amount" maxlength="6" size="4" value=1>
                    <button class="trading-buttons" id="buy-button" name="buy-button" value="Buy" formaction="{{ url_for('buy_stock.buy_stock', username=username, symbol=symbol, from='filter') }}">Buy</button>
                    <button class="trading-buttons" id="sell-button" name="sell-button" value="Sell" formaction="{{ url_for('sell_stock.sell_stock', username=username, symbol=symbol, from='filter') }}">Sell</button><br/>
                    <button id="save-button" name="save-button" value="Save" formaction="{{ url_for('save_stock.save_stock', username=username, symbol=symbol) }}">Save</button>
                {% if error %}
                    <p id="error-msg">{{ error }}</p>
                {% endif %}
                </form>

            </div><br>
        {% endfor %}
    </div>
{% endblock %}