<!-- Content under "Filter" button in the Market page -->
{% block content %}
    <h1 class="Filter-Title">Filter Stocks</h1>

    <!-- Displays all 100 stocks from json file -->
    <div class="filter-stock-container">
        <form method="POST">
            <button formaction="{{ url_for('filter_stock.filter_stock', username=username, exchange='NASDAQ') }}">NASDAQ</button>
            <button formaction="{{ url_for('filter_stock.filter_stock', username=username, exchange='NYSE') }}">NYSE</button>
            <button formaction="{{ url_for('filter_stock.filter_stock', username=username, exchange='Any') }}">Any</button>
        </form>
    </div>

    {% for symbol, company in companies.items() %}
        <div class="filter-stock-container">
            <div class="filter-stock">
                <div id="symbol">{{ symbol }} </div>
                <div class="company">{{ company[0] }}</div></br>
                <div class="price">${{ company[1] }}</div>
            </div>
            <form class="stock-form" method="POST">
                <label>Shares: </label>
                <input type="text" id="filter-amount" name="filter-amount" maxlength="6" size="4" value=1>
                <button id="buy-button" name="buy-button" value="Buy" formaction="{{ url_for('buy_stock.buy_stock', username=username, symbol=symbol, from='filter') }}">Buy</button>
                <button id="sell-button" name="sell-button" value="Sell" formaction="{{ url_for('sell_stock.sell_stock', username=username, symbol=symbol, from='filter') }}">Sell</button><br>
                <button id="save-button" name="save-button" value="Save" formaction="{{ url_for('save_stock.save_stock', username=username, symbol=symbol) }}">Save</button>
            {% if error %}
                <p id="error-msg">{{ error }}</p>
            {% endif %}
            </form>

        </div><br>
    {% endfor %}
{% endblock %}