<!doctype html>
<html>
<head>
    <title>{% block title %}406-Trades{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='/assets/logo-small.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
    <nav class="navbar-container">
        <a href="/">
        <img src="{{ url_for('static', filename='assets/logo-small.jpeg') }}" align="middle" id="navbar-logo" />
        </a>
        <ul>
            {% if username == 'admin' %}
                <li><a style="color:rgb(58, 57, 57);" href="{{ url_for('admin')}}"><i class="fa fa-gear"></i></a></li>
            {% endif %}
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ url_for('market')}}"><i class="fa fa-line-chart"></i></a></li>
            <li><a href="{{ url_for('faq')}}"><i class="fa fa-info"></i></a></li>
            <li><a href="{{ url_for('account')}}"><i class="fa fa-user"></i></a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        © 406-Trades
    </footer>
</body>
</html>