{% extends "layout.html" %}

{% block content %}
<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/market.css') }}">
</head>
<html>
    <body>
        <!-- Choose Between Search div and Nasdaq div -->
        <div class="button-container">
            <button id="show-search" onclick="marketShow()">Search</button>
            <div class="line"></div>
            <button id="show-nasdaq" onclick="nasdaqShow()">Top 100</button>
        </div>

        <!-- Search Stock Page -->
        <div class="market-container">
            <form method="POST">
                <label for="stock_search">Search for stock:</label>
                <input type="text" id="stock_search" name="stock_search">

                <button type="submit" id="save-button" name="save-button" value="Submit" 
                formaction="{{ url_for('search_stock.search_stock', username=username, symbol=symbol, nasdaqData=nasdaqData) }}">Search</button>

                <!-- <label for="transaction_type">Transaction type:</label>
                <select id="transaction_type" name="transaction_type">
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select> -->
                
                <!-- <label for="transaction_amount">Amount:</label>
                <input type="input" id="transaction_amount" name="transaction_amount">
                 -->

            {% if error and symbol == errorSymbol %}
            <p id="error-msg">{{ error }}</p>
            {% endif %}
            </form>
        </div>

        <!-- Nasdaq Top 100 Stocks Page -->
        <div class="nasdaq-container" style="display: none;">
            {% include "nasdaq100.html" %}
        </div>

        <!-- Script for buttons -->
        <script type="text/javascript">
            const showFirstButton = document.getElementById("show-search");
            const showSecondButton = document.getElementById("show-nasdaq");
            const marketDiv = document.getElementsByClassName("market-container")[0];
            const nasdaqDiv = document.getElementsByClassName("nasdaq-container")[0];
            const visibleDivId = localStorage.getItem('visibleDivId');

            // Show The Correct Div, Despite Refreshing The Page
            if (visibleDivId === 'nasdaqDiv') {
            nasdaqShow();
            } else {
            marketShow();
}
            // Shows First Div, Hides Second Div
            function marketShow() {
                marketDiv.style.display = "block";
                nasdaqDiv.style.display = "none";
                localStorage.setItem('visibleDivId', 'marketDiv');
            };
            // Shows Second Div, Hides First Div
            function nasdaqShow() {
                marketDiv.style.display = "none";
                nasdaqDiv.style.display = "block";
                localStorage.setItem('visibleDivId', 'nasdaqDiv');
            };
        </script>
    </body>
</html>
{% endblock %}