{% extends "layout.html" %}

{% block content %}
<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/market.css') }}">
</head>
<html>
    <body>
        <h1>Stocks</h1>
        <!-- Choose Between Search div and Nasdaq div -->
        <button id="show-search" onclick="marketShow()">Show first div</button>
        <button id="show-nasdaq" onclick="nasdaqShow()">Show second div</button>

        <!-- Search Stock Page -->
        <div class="market-container">
            <form method="POST">
                <label for="stock_search">Search for stock:</label>
                <input type="text" id="stock_search" name="stock_search">
                
                <label for="transaction_type">Transaction type:</label>
                <select id="transaction_type" name="transaction_type">
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select>
                
                <label for="transaction_amount">Amount:</label>
                <input type="input" id="transaction_amount" name="transaction_amount">
                
                <button type="submit">Submit</button>
            </form>
        </div>

        <!-- Nasdaq Top 100 Stocks Page -->
        <div class="nasdaq-container" style="display: none;">
            Obama
        </div>

        <!-- Script for buttons -->
        <script type="text/javascript">
            const showFirstButton = document.getElementById("show-search");
            const showSecondButton = document.getElementById("show-nasdaq");

            // Shows First Div, Hides Second Div
            function marketShow() {
                console.log("CACA");
                document.getElementsByClassName("market-container")[0].style.display = "block";
                document.getElementsByClassName("nasdaq-container")[0].style.display = "none";
            };
            // Shows Second Div, Hides First Div
            function nasdaqShow() {
                console.log("CACA2");
                document.getElementsByClassName("market-container")[0].style.display = "none";
                document.getElementsByClassName("nasdaq-container")[0].style.display = "block";
            };
        </script>
    </body>
</html>
{% endblock %}