<!-- Content under "Top 100" button in the Market page -->
{% block content %}
    <h1 class="Top100-Title">NASDAQ 100 Companies</h1>
    <!-- Displays all 100 stocks from json file -->
    {% for symbol, company in nasdaqData.items() %}
        <div class="nasdaq-stock-container">
            <div class="nasdaq-stock">
            <h2>{{ symbol }} </h2> <h2>{{ company }}</h2>
            </div>
            <form class="stock-form" method="POST" action="{{ url_for('buy_stock.buy_stock', username=username, symbol=symbol, nasdaqData=nasdaqData) }}">
                <label>Shares: </label>
                <input type="text" id="nasdaq-amount" name="nasdaq-amount" maxlength="6" size="4" value=1>
                <button type="submit" id="buy-button" name="buy-button" value="Buy">Buy</button><br>
                <button type="submit" id="save-button" name="save-button" value="Save">Save</button>
            {% if error and symbol == errorSymbol %}
                <p id="error-msg">{{ error }}</p>
            {% endif %}
            </form>
        </div><br>
    {% endfor %}
{% endblock %}