/* Body Container for stocks, search */
.market-container{
    background: linear-gradient(to bottom right, #00ffff, #ff00ff);
    margin:0 auto;
    margin-top:120px;
    padding:45px;
    height:50vh;
    width:70vw;
    max-height:500px;
    max-width:1000px;
    border-radius:35px;
}

/* Button Styling */
.button-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:70px;
}
#show-search{
    width:200px;
    font-size: 2rem;
    padding:15px;
    margin-right:25px;
    border: none;
    outline: none;
    background-color: #ffffff; 
    color: #000000;
    box-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.25);
}
#show-filter{
    width:200px;
    margin-left:30px;
    padding:15px;
    font-size: 2rem;
    margin-left:22px;
    border: none;
    outline: none;
    background-color: #ffffff; 
    color: #000000;
    box-shadow: -4px 4px 4px -2px rgba(0, 0, 0, 0.25);
}
.line{
    background-color:black;
    height:80px;
    width:3px;
}
#show-search:hover{
    cursor: pointer;
    background-color: #efefef81;
}
#show-filter:hover{
    cursor: pointer;
    background-color: #efefef81;
}
/* Search Div Styling */

/* Filter Stocks Styling */
h3{
    text-align: center;
}
.filter-stock-container{
    background-color: rgb(212, 212, 212);
    margin: 0 auto;
    width: 50vw;
    max-width: 700px;
    height:70px;
    border-radius: 25px;
    padding: 25px;
    /* display: flex; */
}
.stock-form{
    float:right;
    padding-top:10px;
}
.stock-form>input{
    text-align: right; 
    float:right;
}
.stock-form>button{
    float:right;
}
.filter-stock{
    display: flex;
    float:left;
}
.filter-stock>h2{
    margin-right:25px;
}
#symbol{
    width:180px;
    font-size: 2rem;
}
#company{
    font-size: 1.5rem;
}
/* Buttons to sell/buy stocks for each stock div */
#buy-button{

}
#save-button{

}
#filter-amount{

}
#error-msg{
    color:red;
}