/* Body Container for stocks, search */
.market-container{
    background: linear-gradient(to bottom right, #00ffff, #ff00ff);
    margin:0 auto;
    margin-top:120px;
    padding:45px;
    height:50vh;
    width:70vw;
    max-height:500px;
    max-width:1000px;
    border-radius:35px;
}